---
import SubmitButton from "~components/buttons/submit.astro";
---

<div class="container_build">
  <SubmitButton title="build">Lets Build!</SubmitButton>
</div>

<style lang="scss">
  @import "~styles/mixins";

  .container_build {
    @include wrap-narrow;
    margin-top: 50px;
  }
</style>
