---
import SubmitButton from "~components/buttons/submit.astro";
---

<div class="container_build">
  <SubmitButton title="build">Lets Build!</SubmitButton>
</div>

<style lang="scss">
  .container_build {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    max-width: 225px;
  }
</style>
