<button class="custom" data-clicked="false">Custom job please</button>

<script src="~scripts/components/buttons/custom"></script>

<style lang="scss">
  @import "~styles/mixins.scss";

  button.custom {
    text-decoration: underline;
    background: none;
    margin-top: 50px;
    cursor: pointer;
    border: none;

    @include focus {
      @include single-box;
      background-color: black;
      color: white;
    }
  }
</style>
