<button class="select">Select</button>

<style lang="scss">
  @import "~styles/mixins.scss";

  button.select {
    border-radius: $padding-card;
    background-color: black;
    padding: $padding-card;
    cursor: pointer;
    color: white;
    border: none;
    width: 100%;
  }
</style>
