/// @author Paul Heading
/// This is the global scss file

@import "~styles/mixins";
@import "~styles/buttons";

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.35;
  font-size: 18px;
  margin: 0;
}

header {
  height: $height-header;
}

footer {
  height: $height-header;
}

main {
  padding-right: $margin-p;
  padding-left: $margin-p;
}

button {
  font-size: inherit;
}

p {
  margin: 0;
}

p+p {
  margin-top: $margin-p;
}

.wrap-layout {
  max-width: $width-layout;
  margin-right: auto;
  text-align: center;
  margin-left: auto;
}

h1 {
  font-weight: normal;
}

.intro {
  max-width: $max-width-intro;
  margin-right: auto;
  margin-left: auto;
}

.wrap-cards {
  min-height: 336px;
}

.card-intro {
  width: $max-width-card-text;
  margin: 0 auto $margin-p;
}

.card-content>p {
  width: $max-width-card-text;
  margin: 0 auto $margin-p;
}

.card-config {
  list-style: none;
  padding: 0;
}

ul.toggle-list {
  margin: 0 0 $padding-card * 2;
  padding: 0 $padding-card;
  list-style: none;
}

ul.toggle-list li {
  margin-bottom: $padding-card;
}