@import "~styles/variables.scss";

@mixin focus-visible {
  &[data-focus-visible-added] {
    @content;
  }
}

@mixin focus-hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin focus {
  &:active {
    @content;
  }

  @include focus-hover {
    @content;
  }

  @include focus-visible {
    @content;
  }
}

@mixin setup-box {
  outline: transparent;
  position: relative;
  z-index: 2;
}

@mixin single-box($bg: black, $size: 0.25rem) {
  @include setup-box;
  box-shadow: 0 0 0 $size $bg;
}

@mixin double-box($bg: white, $col: black, $bg_size: 0.25rem, $col_size: 0.15rem) {
  @include setup-box;
  box-shadow: 0 0 0 $bg_size $bg, 0 0 0 ($bg_size + $col_size) $col;
}