---
import { Loader, SolidButton, Toggle, InvisibleButton, Wrap } from "paully";
import Layout from "~Layouts/Main";
import Card from "~Components/Card";

import { seo } from "paully/data";

import { store } from "~data/store";

const layoutProps = {
  keywords: seo.keywords("portfolio"),
  description: "I'm a " + seo.job.title + ". " + seo.job.description,
};
---

<Layout {...layoutProps}>
  <Wrap style={{ textAlign: "center" }}>
    <Loader style={{ margin: "auto" }} />
    <Wrap style={{ marginTop: "5rem", maxWidth: "460px" }}>
      <h1 style={{ fontWeight: "normal" }}>Hi <strong>%%user%%</strong></h1>
      <p>Let's make a playlist!</p>
      <p>
        <strong>Yearly</strong> finds your favourite songs from the last year and
        shares them with your friends.
      </p>
      <p>Pick a playlist style to get started</p>
    </Wrap>
    <Wrap style={{ marginTop: "2rem" }}>
      <Wrap>
        <Card {...store.cards.cindy} />
        <Card {...store.cards.badjo} />
      </Wrap>
      <Wrap style={{ marginTop: "2rem" }}>
        <InvisibleButton><u>Custom job please</u></InvisibleButton>
      </Wrap>
      <Wrap style={{ marginTop: "2rem", maxWidth: "12.5rem" }}>
        <p>Would you like a summertime playlist?</p>
        <Toggle />
      </Wrap>
      <Wrap style={{ marginTop: "2rem" }}>
        <SolidButton className="full-width">Let's Build!</SolidButton>
      </Wrap>
    </Wrap>
  </Wrap>
</Layout>

<style>
  .full-width {
    max-width: 240px;
    width: 100%;
  }
</style>
