---
import Layout from "~layouts/main.astro";
import Card from "~components/card.astro";
import CustomButton from "~components/buttons/custom.astro";
import OptionToggle from "~components/toggles/option.astro";
---

<Layout>
  <div class="wrap-layout">
    <div class="hero">
      <h1>Hi <strong id="firstname"></strong></h1>
    </div>
    <div class="intro">
      <p>Let's make a playlist!</p>
      <p>
        Yearly finds your favourite songs from the last year and shares them
        with your friends.
      </p>
      <p>Pick a playlist style to get started</p>
    </div>
    <div class="wrap-cards">
      <Card title="Cindy">
        <p class="card-intro">
          We're all friends here. Let's find your recent favs and share the
          love.
        </p>
      </Card>
      <Card title="BadJo">
        <p class="card-intro">
          Don’t waste my time. Fresh discoveries only. Get out.
        </p>
      </Card>
      <Card title="Custom">
        <ul class="toggle-list">
          <li><OptionToggle title="Released this year" color="green" /></li>
          <li>
            <OptionToggle title="Prioritize fewest plays" />
          </li>
          <li><OptionToggle title="Include recommends" color="purple" /></li>
        </ul>
      </Card>
    </div>
    <CustomButton />
  </div>
</Layout>

<script src="~scripts/pages/callback"></script>
