---
import Layout from "~layouts/main.astro";
---

<Layout>
  <div class="wrap_layout">
    <div class="hero">
      <h1>Hi <span id="firstname"></span></h1>
    </div>
  </div>
</Layout>

<script src="~scripts/pages/callback"></script>
