---
import Layout from "~layouts/main.astro";
---

<Layout>
  <div class="wrap-layout">
    <div class="hero">
      <h1>Yearly</h1>
      <h4>Songs you discovered this year</h4>
    </div>
    <div class="controls">
      <button id="log-in">Log in</button>
    </div>
  </div>
</Layout>

<script src="~scripts/pages/homepage"></script>
