---
import Layout from "~layouts/main.astro";
import SubmitButton from "~components/buttons/submit.astro";
---

<Layout>
  <div class="wrap-layout">
    <div class="hero">
      <h1>Yearly</h1>
      <h4>Songs you discovered this year</h4>
    </div>
    <div class="controls">
      <SubmitButton title="login">Log in</SubmitButton>
    </div>
  </div>
</Layout>

<script src="~scripts/pages/homepage"></script>

<style lang="scss">
  @import "~styles/mixins";

  .controls {
    @include wrap-narrow;
  }
</style>
