---
import Layout from "~Layouts/Main";
import { SolidButton, Wrap } from "paully";

import { seo } from "paully/data";

const layoutProps = {
  keywords: seo.keywords("portfolio"),
  description: "I'm a " + seo.job.title + ". " + seo.job.description,
};
---

<Layout {...layoutProps}>
  <Wrap style={{ textAlign: "center" }}>
    <h1>Yearly</h1>
    <h4>Songs you discovered this year</h4>
    <SolidButton>Log in</SolidButton>
  </Wrap>
</Layout>
