---
import InfoButton from "~components/buttons/info.astro";
import SelectButton from "~components/buttons/select.astro";

const { title } = Astro.props;

const customClass = title.toLowerCase();

const containerProps = {
  "class:list": ["card", customClass],
};

const profileProps = {
  "class:list": ["profile"],
  src: "/" + title.toLowerCase() + ".jpg",
  alt: title + "'s profile pic",
};
---

<div {...containerProps}>
  <img {...profileProps} />
  <InfoButton />
  <h2>{title}</h2>
  <slot />
  <div class="wrap-button">
    <SelectButton />
  </div>
</div>

<style lang="scss">
  @import "~styles/mixins.scss";

  .card {
    margin: $margin-card $padding-card 0;
    border-radius: $padding-card;
    max-width: $max-width-card;
    border: 1px solid black;
    vertical-align: middle;
    padding: $padding-card;
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .custom.card {
    display: none;
    opacity: 0;
  }

  img.profile {
    background-color: gainsboro;
    margin-top: $margin-profile;
    border: 1px solid black;
    height: $size-profile;
    display: inline-block;
    width: $size-profile;
    border-radius: 50%;
    overflow: hidden;
  }

  .wrap-button {
    padding: 3px;
  }
</style>
