---
import { SolidButton, InvisibleButton } from "paully";
import { Info as InfoSvg } from "paully/svgs";
import InfoButton from "~Components/buttons/Info";

let { title, intro, img_path, config } = Astro.props;
---

<div class="card-container">
  <div class="card-header">
    <img src={img_path} alt="" class="profile" />
    <InfoButton className="info-position">
      <InfoSvg className="info-svg" />
    </InfoButton>
  </div>
  <h2 class="title">{title}</h2>
  <div class="intro">
    {intro.map((sentence) => <p>{sentence}</p>)}
  </div>
  <SolidButton className="select">Select</SolidButton>
</div>

<style lang="scss">
  @use "~mixins" as *;

  .info-position {
    position: relative;
    top: -0.625rem;
  }

  .info-svg {
    display: block;
  }

  .card-container {
    margin: $margin-top-card $margin-card $margin-card;
    border-radius: $border-radius-card;
    background-color: white;
    border: 1px solid black;
    max-width: $width-card;
    padding: $padding-card;
    display: inline-block;
  }

  .card-header {
    grid-template-columns: $size-card-info $size-card-profile $size-card-info;
    margin-bottom: $margin-bottom-card-header;
    justify-content: space-between;
    margin-top: -$margin-top-card;
    align-items: flex-end;
    gap: $margin-card;
    display: grid;
  }

  .profile {
    @include size($size-card-profile);
    grid-column: 2;

    & {
      border: 1px solid black;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .title {
    font-size: $h3-font-size;
    margin-bottom: 0.5rem;
  }

  .intro {
    @include center-block;

    & {
      margin-bottom: $margin-bottom-card-header;
      max-width: $max-width-card-intro;
    }
  }

  .select {
    width: 100%;
  }
</style>
