---
import InfoButton from "~components/buttons/info.astro";
import SubmitButton from "~components/buttons/submit.astro";

const { title, image_path, config } = Astro.props;

const customClass = title.toLowerCase();

const containerProps = {
  "class:list": ["card", customClass],
};

const profileProps = {
  alt: title + "'s profile pic",
  "class:list": ["profile"],
  src: image_path,
};

const selectProps = {
  title,
};
---

<div {...containerProps}>
  <img {...profileProps} />
  {config && <InfoButton />}
  <h2>{title}</h2>
  <div class="card-content">
    <slot name="default" />
  </div>
  {
    config && (
      <ul class="card-config">
        {config.map((item) => (
          <li>{item}</li>
        ))}
      </ul>
    )
  }
  <div class="wrap-button">
    <SubmitButton {...selectProps}>Select</SubmitButton>
  </div>
</div>

<style lang="scss">
  @import "~styles/mixins";

  .card {
    margin: $margin-card $padding-card 0;
    border-radius: $padding-card;
    max-width: $max-width-card;
    border: 1px solid black;
    vertical-align: middle;
    padding: $padding-card;
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .card[data-active="true"] {
    border-color: blue;
  }

  .custom.card {
    display: none;
    opacity: 0;
  }

  img.profile {
    background-color: gainsboro;
    margin-top: $margin-profile;
    border: 1px solid black;
    height: $size-profile;
    display: inline-block;
    width: $size-profile;
    border-radius: 50%;
    overflow: hidden;
  }

  .card-config {
    margin-bottom: $margin-p;
    margin-top: $margin-p;
    display: none;
  }

  .wrap-button {
    padding: 3px;
  }
</style>
