button.info {
  background-color: transparent;
  margin: $padding-card;
  border: transparent;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  padding: 0;
  right: 0;
  top: 0;

  @include focus {
    background-color: black;
    outline: transparent;

    svg {
      fill: white;
    }
  }
}