button.select {
  border-radius: $padding-card;
  background-color: black;
  padding: $padding-card;
  cursor: pointer;
  color: white;
  border: none;
  width: 100%;

  @include focus {
    @include double-box;
  }
}

button.select[data-active="true"] {
  background-color: blue;

  @include focus {
    @include double-box(white, blue);
  }
}