---
import "~styles/global.scss";
import Head from "~Components/Head";
---

<script>
  import "focus-visible/dist/focus-visible.min.js";
</script>

<script src="~scripts/layouts/main.js"></script>

<html lang="en">
  <Head {...Astro.props} />
  <body data-state="visible">
    <header></header>
    <slot />
    <footer></footer>
  </body>
</html>

<style>
  header,
  footer {
    height: 100px;
  }
</style>
